.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.row-content {
    padding: 50px 0;
}

.vertical-center{
    padding: 50px;
}

.table-wrapper {
    max-height: 100vh;
    overflow: auto;
    display: inline-block;
  }

  /*
.carousel-caption{
    position: relative;
    bottom: 0;
    left: 0;
    background-color:  rgba(0, 0, 0, 0.25);
    text-align: left;
    padding: 20px;
}
*/
footer {
    padding: 20px 0;
}
